<!DOCTYPE html>
<html>
<head>
	<title>Edit Page</title>
</head>
<body>
	
	<section id="three" class="main style1 special">
				<div class="container">
					<header class="major">
						<h2>Transfer News and Highlights</h2>
					</header>
					<div class="row gtr-150">

						<div class="col-4 col-12-medium mx-auto">
						<form action="/edit" method="POST">
							<span class="image fit"><img src="../static/images/manuplayer.jpg" alt="" /></span>
							<input type="text" name="images" placeholder="Image">
							<textarea name='header' placeholder="Header"></textarea>
							<textarea name='body' placeholder="Body"></textarea>
<!-- 							<input type="text" name="position" value="left" style="display: none"> -->
							<input type="text" name="link" placeholder="Link">
							<button type="submit"></button>
						</form>
						</div>
</body>
</html>